<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()" [paginator]="true" [rows]="10" filterBy="name,category">

    <ng-template pTemplate="header">
       
        <div class="search-container">
            <i class="pi pi-search search-icon"></i>
            <input
              #searchInput
              type="search"
              pInputText
              class="search-input"
              placeholder="Rechercher par nom ou catégorie"
              (input)="dv.filter(searchInput.value)"
            />
          </div>
          
    </ng-template>

    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="product-card block mb-2">

                <div class="product-image-container">
                    <p-image src="assets/images/{{ product.image }}" alt="{{ product.name }}" width="10%" height="auto" 
                    (onError)="onImageError($event)"></p-image>
                    <span class="badge" [ngClass]="{'in-stock': product.inventoryStatus === 'INSTOCK',
                     'out-of-stock':product.inventoryStatus === 'OUTOFSTOCK',
                     'low-stock':product.inventoryStatus === 'LOWSTOCK'}">
                     {{ product.inventoryStatus === 'INSTOCK' ? 'En stock' : (product.inventoryStatus === 'LOWSTOCK' ? 'Stock faible' : 'Rupture de stock') }}
                    </span>
                </div>

                <div class="product-details">
                    <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                    <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                    <span class="font-medium text-secondary text-sm">{{ product.description }}</span>
                    <div class="text-lg font-medium text-900 mt-2">Price : {{ product.price }}</div>
                </div>
               

                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                        <p-button *ngIf="product.inventoryStatus === 'INSTOCK' || product.inventoryStatus === 'LOWSTOCK'" label="Ajouter au panier" severity="primary" (onClick)="addToBasket(product)"/>
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>

